body{
    text-align: center;
    background: url(../imagenes/Fondo.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    padding: 0%;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
input{
    background-color: black;
    border-radius: 20px;
    border-color: white;
    width: 250px;
    height: 60px;
    margin: 4px;
    color: white;
    font-size: large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
